# Python sanal ortam
venv/

# Python cache
__pycache__/
*.py[cod]

# VSCode veya PyCharm ayarları
.vscode/
.idea/

# NumPy / Pandas temp dosyaları
*.npy

# Kişisel gizli anahtarlar, credentials
*.env
data/raw/crypto_news.csv
data/raw/*.csv
dashboard_data
